{% extends 'base/layout.html' %}

{% block title %}Formulário{% endblock %}

{% block content %}
<style>
    label input{
        float: right;
    }
    label select{
        float: right; width: 193px; height: 26px;
    }
</style>
<div class="content">
    <h3>Formulário</h3>
    <form action="" method="post" class="col-md-12" id="formulario1">
        <label class="col-md-6">
            Nome: <input name="nome" required>
        </label>
        <label class="col-md-6">
            Sobrenome: <input name="sobrenome" required>
        </label>

        <label class="col-md-6">
            CPF: <input name="cpf" id="cpf" required data-mask="000.000.000-00">
        </label>
        <label class="col-md-6">
            RG: <input name="rg" required>
        </label>
        <label class="col-md-6">
            Nascimento: <input type="text" class="datepicker" required>
            <!-- <input type="date"> Não utilizar input type date pois não é suportado pelo Firefox -->
        </label>
        <label class="col-md-6">
            Sexo: <select name="sexo" required>
            <option value=""></option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Indefinido">Indefinido</option>
        </select>
        </label>
        <div class="clearfix"></div>
        <h4>Endereço:</h4>
        <label class="col-md-6">
            CEP: <input id="cep" name="endereco[cep]" type="text" data-mask="00.000-000" minlength="10" required>
        </label>
        <label class="col-md-6">
            Rua: <input id="rua" name="endereco[rua]" required disabled>
        </label>
        <label class="col-md-6">
            Número: <input id="numero" name="endereco[numero]" required disabled>
        </label>
        <label class="col-md-6">
            Complemento: <input id="complemento" name="endereco[complemento]" disabled>
        </label>
        <label class="col-md-6">
            Bairro: <input id="bairro" name="endereco[bairro]" required disabled>
        </label>
        <label class="col-md-6">
            Cidade: <input id="cidade" name="endereco[cidade]" required disabled>
        </label>
                <label class="col-md-6">
            Estado: <select id="estado" name="endereco[estado]" required disabled>
                    	<option value=""></option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                </select>
        </label>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-success">Salvar!</button>
    </form>
</div>
{% endblock %}

{% block beforeBodyEnd %}
<script type="application/javascript">
    App.FormularioController.listen();
</script>
{% endblock %}